#root {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

#root > * {
  flex: 1 1 auto;
  width: 100%;
  min-width: 0;
}

@keyframes progress-fast {
  0% { width: 0%; }
  100% { width: 100%; }
}

.animate-progress-fast {
  animation: progress-fast 0.8s ease-out forwards;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #00A859;
    border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #008f4c;
}
